* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://th.bing.com/th/id/OIP.SdJ-3FbnA8sBw5h63_de3QHaBl?pid=Api&rs=1);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-bar {
    background-color: cadetblue;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: black;
}

.menu-bar ul li {
    margin: 4px;
    padding: 4px;
    width: 120px;
}

.menu-bar ul li a {
    text-decoration: darkcyan;
    color: black;
}

.active,
.menu-bar ul li:hover {
    background-color: rgb(100, 139, 100);
    border-radius: 12px;
}

.menu-bar .fa {
    margin-right: 6px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: cadetblue;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted;
    background: transparent;
    border-radius: 2px;
    text-align: left;
    color: thistle;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: teal;
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: teal;
}

.sub-menu-3 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-3 {
    display: block;
    position: absolute;
    background-color: cadetblue;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-3 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-3 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted;
    background: transparent;
    border-radius: 2px;
    text-align: left;
    color: thistle;
}

.menu-bar ul li:hover .sub-menu-3 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-3 ul li a:hover {
    color: teal;
}

.sub-menu-4 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-4 {
    display: block;
    position: absolute;
    background-color: cadetblue;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-4 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-4 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted;
    background: transparent;
    border-radius: 2px;
    text-align: left;
    color: thistle;
}

.menu-bar ul li:hover .sub-menu-4 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-4 ul li a:hover {
    color: teal;
}

.fa-bars {
    float: left;
    size: 23px;
    padding: 12px;
    margin-left: 12px;
    color: azure;
    cursor: pointer;
    display: none;
}

.tog {
    text-align: left;
    border-radius: 8px;
    background-color: cadetblue;
    vertical-align: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.text {
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 4px 3px;
    margin: 10px;
}